<p>
  We want to inform you that your job post, <strong><%= link_to @job.role, @job %></strong> has been renewed for another <%= Job.validity_period %> days.
</p>
<p>
  We have also announced it on <a href="https://twitter.com/devcongress">Twitter</a> to our follows and in our <a href="https://devcongress-community.slack.com/messages/C0CGC3WL9/details/">Slack #jobs channel</a>. If you're not already a member of the Slack community, you can invite yourself using this link <a href="https://slack.devcongress.org">https://slack.devcongress.org</a>.
</p>
<p>
  It will become visible again on the <%= link_to "Jobs Board", root_url %> under the same link as it has always been. You're reminded to re-share the link to 
</p>
