language: ruby
rvm:
- 2.6.1
before_install:
- gem update --system
- gem install bundler
before_script:
- bin/rails db:create --all
- bin/rails db:migrate
script:
- bin/rails test
services:
- postgresql
notifications:
  email: false