<ul class="job--list">
  <% @jobs.each do |job| %>
    <li class="job--list__item">
      <%= link_to job.role + " at " + job.company, job, :class => "job--list__item-link" %>
      <div class="job--list__action-group">
        <% if user_signed_in? && job.user_id == current_user.id %>
          <%= link_to 'Edit', edit_job_path(job), :class => "job--list__edit-link" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
