<% content_for :title do %>
  <%= "All Jobs | #{t('app.name')}" %>
<% end %>

<main class="dc-jobs">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <h1 class="page--title">All Jobs</h1>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <% if @jobs.empty? %>
          <ul class="job--list dc-content-container">
            <li class="job--list__item">No jobs are currently available</li>
          </ul>
        <% else %>
          <%= render 'list' %>
        <% end %>
      </div>
    </section>
  </article>
</main>
