<% content_for :title do %>
  <%= "All Jobs | #{t('app.name')}" %>
<% end %>
<h1 class="page--title">All Jobs</h1>
<p class="page--legend">All the DevCongress Job Board listings here</p>
<div class="main--content">
  <%= render 'list', job: @job %>
</div>
<br/>
