- content_for :title do
  = "#{t('app.name')} | All Jobs"

%h1.page--title All Jobs
%p.page--legend All the DevCongress Job Board listing here

.main--content
  = render 'jobs/jobs-list'
%br/
-# = link_to 'New Job', new_job_path
