- content_for :title do
  = "All Jobs | #{t('app.name')}"

%h1.page--title All Jobs
.page--legend-buttons
  %p.page--legend All the DevCongress Job Board listing here

.main--content
  = render 'jobs/jobs-list'
%br/
-# = link_to 'New Job', new_job_path
