- content_for :title do
  = "My Jobs | #{t('app.name')}"

%h1.page--title All My Jobs
%p.page--legend Jobs you have listed will appear here
.main--content
  - if @jobs.empty?
    %p You have no jobs listed yet. 🤔
    = link_to 'List your first Job', new_job_path
  - else
    = render 'jobs/my-jobs-list'
%br/
