- content_for :title do
  = "My Jobs | #{t('app.name')}"

%h1.page--title All My Jobs
.page--legend-buttons
  %p.page--legend Jobs you have listed are here. Archived jobs are hidden from public view, and have a cream background.
.main--content
  - if @jobs.empty?
    %p You have no jobs listed yet. 🤔
    -# %p Once a post has been created, you will not be able to delete it. Instead, you will be able to unhide it from public view. This is . 
    = link_to 'List your first Job', new_job_path
  - else
    = render 'jobs/my-jobs-list'
%br/
