- content_for :title do
  = "#{t('app.name')} | About"
  
%h1.page--title About DevCongress Jobs
%p.page--legend All you have wanted to know about this website
 
.main--content
  %p Find me in app/views/pages/about.html.erb
