<% content_for :title do %>
  <%= "About | #{t('app.name')}" %>
<% end %>
<h1 class="page--title">About DevCongress Jobs</h1>
<div class="page--legend-buttons">
  <p class="page--legend">All you have wanted to know about this website</p>
</div>
<div class="main--content">
  <p>DevCongress Jobs has been created to help employers find tech talent across Africa. Have any more quesitons? Email us at jobs@devcongress.org</p>
</div>
