<% content_for :title do %>
  <%= "Help | #{t('app.name')}" %>
<% end %>
<h1 class="page--title">Help</h1>
<div class="page--legend-buttons">
  <p class="page--legend">Find help in times of need</p>
</div>
<div class="main--content">
  <p>Any questions? Mail us at jobs@devcongress.org</p>
</div>
