- content_for :title do
  = "#{t('app.name')} | Home"

%h1.page--title.text--center DevCongress Jobs
.page--legend-buttons
  %p.page--legend Welcome to the DevCongress Job Board. Hire great people here.

.main--content
  = render 'jobs/jobs-list'