= image_tag 'devcongress.svg', alt: 'devcongress logo', height: '', width: '', class: 'dc-logo'
%h1 DevCongress Jobs
%p Welcome to the DevCongress Jobs site, get hired!

- @jobs.each do |job|
    = link_to job.role + " at " + job.company, job
