<% content_for :title do %>
  <%= "Pricing | #{t('app.name')}" %>
<% end %>
<main class="dc-pricing">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <div class="uk-grid">
          <div class="uk-width-2-3@l">
            <h1 class="page--title">Pricing</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <div class="uk-grid" >
          <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body dc-content-container">
              <h3>Choose what fits your team best.</h3>
              <p>Hi, very soon, we'll be introducing premium featrues at different tiers.</p>
              <p>Wouldn't it be great if you could suggest what we should build? Go to <a href="https://e6ab2265.nolt.io/">on this page</a> to suggest features, and check our roadmap.</p>
              <p>Thanks for being a great customer.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
