<% content_for :title do %>
  <%= "Pricing | #{t('app.name')}" %>
<% end %>

<h1 class="page--title">Pricing</h1>
<div class="page--legend-buttons">
  <p class="page--legend">Choose what fits your team best.</p>
</div>
<div class="main--content">
  <p>Hi, very soon, we'll be introducing premium featrues at different tiers.</p>
  <p>Wouldn't it be great if you could suggest what we should build? Go to <a href="https://e6ab2265.nolt.io/">on this page</a> to suggest features, and check our roadmap.</p>
  <p>Thanks for being a great customer.</p>
</div>
