- content_for :title do
  = "Privacy | #{t('app.name')}"

%h1.page--title Privacy
.page--legend-buttons
  %p.page--legend Errm, no personal information but still...

.main--content
  %p We don't keep any private information about you. We only store your email and the name you share when craeting a job post. Both of them are open to users ot the website. Beyond that, we keep no other information about you.
