- content_for :title do
  = "Privacy | #{t('app.name')}"

%h1.page--title Privacy
%p.page--legend Errm, no personal information but still...

.main--content
  %p Find me in app/views/pages/privacy.html.erb
