<% content_for :title do %>
  <%= "Privacy | #{t('app.name')}" %>
<% end %>
<main class="dc-privacy">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <div class="uk-grid">
          <div class="uk-width-2-3@l">
            <h1 class="page--title">Privacy</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <div class="uk-grid" >
          <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body dc-content-container">
              <h3>Errm, no personal information but still..</h3>
              <p>We don't keep any private information about you. We only store your email and the name you share when creating a job post. Both of them are open to users of the website. Beyond that, we keep no other information about you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
