<% content_for :title do %>
  <%= "Privacy | #{t('app.name')}" %>
<% end %>
<h1 class="page--title">Privacy</h1>
<div class="page--legend-buttons">
  <p class="page--legend">Errm, no personal information but still...</p>
</div>
<div class="main--content">
  <p>We don't keep any private information about you. We only store your email and the name you share when creating a job post. Both of them are open to users of the website. Beyond that, we keep no other information about you.</p>
</div>
