<% content_for :title do %>
  <%= "Terms | #{t('app.name')}" %>
<% end %>
<h1 class="page--title">Terms of Use</h1>
<div class="page--legend-buttons">
  <p class="page--legend">Errm, nothing here yet.</p>
</div>
<div class="main--content">
  <p>We will add more information about terms of use of DevCongress Jobs when such needs arise.</p>
</div>
