<% content_for :title do %>
  <%= "Terms | #{t('app.name')}" %>
<% end %>
<main class="dc-terms">
  <article>
    <section class="dc-page--header">
      <div class="uk-container">
        <div class="uk-grid">
          <div class="uk-width-2-3@l">
            <h1 class="page--title">Terms of Use</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="dc-main--content">
      <div class="uk-container">
        <div class="uk-grid" >
          <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body dc-content-container">
              <h3>Errm, nothing here yet.</h3>
              <p>We will add more information about terms of use of DevCongress Jobs when such needs arise.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
