<% content_for :title do %>
  <%= "Product Updates | #{t('app.name')}" %>
<% end %>

<h1 class="page--title">Updates</h1>
<div class="page--legend-buttons">
  <p class="page--legend">Here you'll find product updates of enhancements, bug fixes, feature annoucements, etc.</p>
</div>
<div class="main--content">
  <span class="update--item">
    <h3 class="update--date">20190320</h3>
    <small class="update--tag update--tag__bugfix">Bugfix</small>
    <ul class="update--details">
      <li>Fixed a bug that produced a white screen with “You’re being redirected” text when new job is created.</li>
    </ul>
  </span>
  <span class="update--item">
    <h3 class="update--date">20190321</h3>
    <small class="update--tag update--tag__bugfix">Bugfix</small>
    <ul class="update--details">
      <li>Previously, there were no buttons to edit a job. Edit links show on job posts now. More <a href="https://github.com/devcongress/jobs/pull/107#issue-263562698">here</a></li>
    </ul>
  </span>
  <hr>
  <p>Want to suggest product features? Make a suggestion and check our roadmap <a href="https://e6ab2265.nolt.io/">on this page.</a></p>
</div>
