<% content_for :title do %>
  <%= "Product Updates | #{t('app.name')}" %>
<% end %>

<h1 class="page--title">Updates</h1>
<div class="page--legend-buttons">
  <p class="page--legend">Here you'll find product updates of enhancements, bug fixes, feature annoucements, etc.</p>
</div>
<div class="main--content">
  <p></p>
</div>
