.dc-network {
    background-color: #fff;
    border-bottom: 1px solid $dc-lightgray;
    border-top: 1px solid $dc-lightgray;
    padding: 16px 0;
}
.dc-network--header {
    color: #57585A;
    font-size: 20px;
}
.dc-network--nav {
    margin-top: 20px;
    @media (min-width: $breakpoint-medium) {
        margin-top: 0;
    }
}
.dc-network--nav a {
    display: inline-block;
    color: #57585A;
    font-size: 20px;
    padding: 5px 30px;
    width: 33%;
    @media (min-width: $breakpoint-medium) {
        display: inline;
        width: auto;
    }
}
.dc-footer {
    background-color: #F4F8F9;
    padding: 36px 0;
}
.dc-footer--nav a {
    color: $dc-linkblue;
    font-size: 14px;
    padding: 0 10px;
    margin: 0 5px;
    &:visited {
        color: $dc-linkblue;
    }
    &:hover {
        color: $dc-linkblueHover;
    }
}