.dc-header {
    background-color: #fff;
    padding: 20px 0;
}
.dc-header--nav-link {
    color: #57585A;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px;
    &:visited {
        color: #57585A;
    }
    &:hover {
        color: $dc-linkblueHover;
    }
}
.dc-header--nav-button {
    background-color: $dc-linkblue;
    color: #fff;
    margin-left: 20px;
    &:visited {
        color: #fff;
    }
}
.dc-job-meta {
    font-size: 14px;
    text-transform: uppercase;
}
.dc-job-type {
    color: $dc-linkblue;
}
.notice {
    color: transparent;
    margin: 0.5em 0 0;
    display: inherit;
    min-height: 24px;
    text-align: center;
    animation: notice-disappear 8s;
}

.page--title {
    color: #333333;
    line-height: 1.2;
    margin: 0;
    font-family: AvenirNext-Medium;
    font-size: 24px;
}

.page--legend,
.text--center {
    text-align: center;
}

.page--legend-buttons {
    margin: 0 0 40px;
}

.page--legend {
    text-align: center;
    line-height: 1.275;
    min-height: 22px;
    margin: 0;
    margin-bottom: 40px;
}

.share--buttons {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 40px;
}

.share--button {
    color: #fff;
    border-radius: 3px;
    padding: 4px 6px 5px 6px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    &:hover {
        background-color: #333;
    }
    &:visited {
        color: white;
    }
}

.share--buttons__tweet {
    background-color: #1DA1F2;
}

.share--buttons__fb {
    background-color: #3B5998;
}

.main--content {
    background: #fff;
    border: 1px solid black;
    padding: 5%;
}

@keyframes notice-disappear {
    0% {
        color: green;
    }
    100% {
        opacity: 0;
        color: transparent;
    }
}

@-webkit-keyframes notice-disappear {
    0% {
        opacity: 100;
        color: green;
    }
    100% {
        opacity: 0;
        color: transparent;
    }
}

@-moz-keyframes notice-disappear {
    0% {
        opacity: 100;
        color: green;
    }
    100% {
        opacity: 0;
        color: transparent;
    }
}