.job--list {
    margin: 0;
    padding: 0;
}

.job--list__item {
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: space-between;
    &:not(:last-child) {
        border-bottom: 1px solid rgba(151, 151, 151, .2);
    }
}

.job--list__item-role {
    display: block;
    font-size: 1.3em;
}

.job--list__item-company {
    color: #333;
}

.job--list__item-type {
    position: absolute;
    font-size: 0.8em;
    right: 0;
    top: 2px;
    padding: 4px 6px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
}

.job--list__item-archived {
    background: #fcffc9;
}

.job-list__action-group {
    display: flex;
}

.job--list__item-link {
    color: #0097C6;
    display: block;
    width: 100%;
    position: relative;
    &:visited {
        color: #0097C6;
    }
    &:hover {
        color: #EC058C;
    }
}

.job--list__action {
    font-size: 0.9em;
    padding: 1px 5px 2px 5px;
    color: #fff;
    border-radius: 3px;
    &:visited {
        color: #fff;
        text-decoration: none;
    }
}

.job--list__action-edit {
    background: $dc-blue;
    &:hover {
        background: #056ceb;
    }
}

.job--list__action-archive {
    background: #eb8f05;
    &:hover {
        background: #eb4f05;
    }
}

.job--list__action-unarchive {
    background: #32b32a;
    &:hover {
        background: #287323;
    }
}

.job--field__title {
    font-weight: 500;
    color: #0097C6;
    margin: 1em 0 0;
    &:first-of-type {
        margin: 0;
    }
}

.job--field__content {
    margin: 0 0 1em;
    &:first-of-type {
        margin: 0;
    }
}