// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.update--item {
    display: inline-block;
    margin-bottom: 10px;
    
    &:last-of-type {
        margin-bottom: 30px;
    }
}

.update--date {
    margin: 0;
}

.update--tag{
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
}

.update--tag__bugfix{
    background: #ffa500;
}