body {
    background-color: rgba(5, 175, 235, .10);
    color: #333;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
    &:visited {
        color: #666;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Cairo, serif;
}

h1 {
    font-weight: 400;
    font-size: 2em;
    color: #05AFEB;
    letter-spacing: 0.04px;
    margin: 0.4em 0 0;
}

div {
    &.field,
    &.actions {
        margin-bottom: 10px;
    }
}

.notice {
    color: transparent;
    margin: 0.7em 0 0.5em;
    display: inherit;
    text-align: center;
    animation: notice-disappear 8s;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px -7px 0;
        background-color: #c00;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}

label {
    display: block;
}

.main {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
}

.navbar--logo {
    display: flex;
}

.navbar--menu {
    display: flex;
}

.navbar--menu__item {
    margin: 7px 5px;
    padding: 5px 2.5px;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
        border-bottom: 2px solid #666;
    }
}

.page--legend {
    text-align: center;
    color: $dc-blue;
    font-weight: 400;
    margin: 0;
    border-bottom: 1px solid $dc-charcoal;
}

.page--title {
    color: #EC058C;
    margin-bottom: 40px;
}

.page--title,
footer,
.text--center {
    text-align: center;
}

.main--content {
    background: #fff;
    border: 1px solid black;
    padding: 5%;
}

@keyframes notice-disappear {
    0% {
        color: green;
    }
    100% {
        opacity: 0;
        color: transparent;
    }
}

@-webkit-keyframes notice-disappear {
    0% {
        opacity: 100;
        color: green;
    }
    100% {
        opacity: 0;
        color: transparent;
    }
}

@-moz-keyframes notice-disappear {
    0% {
        opacity: 100;
        color: green;
    }
    100% {
        opacity: 0;
        color: transparent;
    }
}

footer {
    margin-bottom: 100px;
}