// @import 'purecss';
body {
    background-color: rgba(5, 175, 235, .10);
    color: #333;
    margin: 33px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #000;
    &:visited {
        color: #666;
    }
    &:hover {
        color: #fff;
        background-color: #000;
    }
}

div {
    &.field,
    &.actions {
        margin-bottom: 10px;
    }
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px -7px 0;
        background-color: #c00;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}

label {
    display: block;
}

.main {
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.main--content {
    background: #fff;
    border: 1px solid black;
    padding: 2.5%;
    text-align: left;
}