@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


body {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
}

a {
    color: $dc-blue;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    &:visited {
        color: #3705ec;
    }
}
.error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px -7px 0;
        background-color: #c00;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}

.main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

@media (max-width: 640px) {
    .navbar,
    .main--content {
        margin: 0 2.5%;
    }
    .navbar {
        max-width: 95%;
    }
}