body {
    background-color: rgba(5, 175, 235, .10);
    color: #333;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
}

a {
    color: $dc-blue;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    &:visited {
        color: #3705ec;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Cairo, serif;
}

h1 {
    font-weight: 400;
    font-size: 2em;
    color: #05AFEB;
    letter-spacing: 0.04px;
    margin: 0.4em 0 0;
}

div {
    &.field,
    &.actions {
        margin-bottom: 10px;
    }
}

.error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px -7px 0;
        background-color: #c00;
        color: #fff;
    }
    ul li {
        font-size: 12px;
        list-style: square;
    }
}

.main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

footer {
    margin-bottom: 100px;
}

@media (max-width: 640px) {
    .navbar,
    .main--content {
        margin: 0 2.5%;
    }
    .navbar {
        max-width: 95%;
    }
}