<footer>
    <% if !@user && Rails.application.open_signups? %>
        <a href="/invitations/open">Join <%= Rails.application.name %></a>
    <% end %>
    <a href="/moderations">Moderation Log</a>
    <% if @user && @user.can_see_invitation_requests? &&
        (iqc = InvitationRequest.verified_count) > 0 %>
        <a href="/invitations">Invitation Queue (<%= iqc %>)</a>
    <% end %>
    <% if @user && @user.is_moderator? &&
        (hrc = HatRequest.count) > 0 %>
        <a href="/hats/requests">Hat Requests (<%= hrc %>)</a>
    <% else %>
        <a href="/hats">Hats</a>
    <% end %>
    <a href="/chat">Chat</a>
    <a href="/privacy">Privacy</a>
    <a href="/about">About</a>
</footer>