<html>
  <head>
    <%= render 'layouts/meta_and_styles' %>
  </head>
  <body>
    <noscript>
      <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-KHKSCXW" style="display:none;visibility:hidden" width="0"></iframe>
    </noscript>
    <div class="dc-jobs">
      <%= render 'layouts/header'	%>
      <%= yield	 %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
