<!DOCTYPE html>
<html>
  <head>

    <%= render 'layouts/meta_and_styles' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
  
</html>
